<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oraboni</title>
    <link rel="stylesheet" href="style/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
</head>
<body>
    <h1>All Users</h1>
    <a href="/succes"><p>Go to profile</p></a>
    {{!-- {{> prefData this}} --}}
    {{!-- {{> filter}} --}}
    {{#each users}}
        <div class="people_list">
            <h1 class="people_list_item">{{this.name}}</h1>
            <p class="people_list_item">{{this.age}}</p>
            {{!-- <p class="people_list_item">{{this._id}}</p> --}}
            <p class="people_list_item">{{this.movieChoices[0]}}</p>
            <p class="people_list_item">{{this.movieChoices[1]}}</p>
        </div>
    {{/each}}
</body>
</html>